PROXY_HOST=0.0.0.0
PROXY_PORT=3412
PROXY_DATA_DIR=./data
PROXY_TOKEN=

SCAN_LIST_TIMEOUT_MS=30000
SCAN_TIMEOUT_MS=480000
SCAN_ROW_CHUNK=32
SCAN_PREVIEW_MAX_WIDTH=900
SCAN_PREVIEW_MAX_HEIGHT=1400
RESULT_TTL_MS=1800000
